@charset "utf-8";
*{ margin:0;  padding:0;}
body{
    word-wrap:break-word;
    word-break:break-all;
    font:12px/1.6em arail,Helvetica,serif_sans;
    color:#333;
    padding:0 60px;
}
ul li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    font-size:1em;
}
a{
    color:#02A0D9;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;

}
html{
    overflow:-moz-scrollbars-vertical;
}

