@charset "utf-8";
@import url("header.css");
@import url("nav.css");
#main{
    width:100%;
    margin:0 auto;
    border:1px solid #ddd;
    overflow:hidden;
}
.title{
    line-height:16px;
    padding:5px;
    font-size:14px;
}
.left_container{
    width:30%;
    padding:20px;
    float:left;
}
.jqzoom{
    border:1px solid #ddd;
    position:relative;
    cursor:pointer;
    width:300px;
    height:300px;
}
.fs{
    width:300px;
    height:300px;
}
.left_container>p{
    width:310px;
    margin:10px 0;
    text-align:center;
    clear:both;

}
.left_container>p a{
    cursor:pointer;
}

div.zoomdiv{
    width:300px;
    height:300px;
    border:1px solid #ddd;
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    display:none;
    overflow:hidden;
}

.img_big_container img{
    position:absolute;
}
div.jqZoomPup{
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
    z-index:999;
    visibility:hidden;
    background:#fff url("../images/zoomlens.gif") no-repeat 50% 0;
    opacity: 0.6;
    -moz-opacity:0.6;
    -khtml-opacity:0.6;
    filter:alpha(opacity=60);
}

.img_list{
    overflow:hidden;
    height:88px;
    margin-bottom:5px;
}
.img_list li{
    float:left;
    margin-right:10px;
    height:85px;
    cursor:pointer;
}
.img_list .selected{
    border:2px solid #ddd;
}
.tab_container ul{
    overflow:hidden;
}
.tab_menu li{
    float:left;
    margin-right:5px;
    padding:5px;
    border:1px solid #ddd;
    cursor:pointer;
    background-color:#f1f1f1;
}
.tab_menu li.selected{
    background-color:#6d84b4;
}

.tab_box div{
    width:398px;
    border:1px solid #ddd;
    display:none;
}
.tab_box div.selected{
    display:block;
}
.right_container{
    width:60%;
    float:right;
    padding:20px 20px 0 0;
}
.right_container p:not(.first){
    font-weight:700;
    font-size:14px;
}
.color_list{
    margin:3px 0 20px 0;
    overflow:hidden;
}
.color_list li{
    float:left;
    width:34px;
    height:34px;
    margin-right:10px;
    text-indent:-9999px;
    cursor:pointer;
}
.color_list li:first-child{
    background-image:url("../images/pro_img/blue.jpg");
}
.color_list li:first-child + li{
    background-image:url("../images/pro_img/yellow.jpg");

}
.color_list li:last-child{
    background-image:url("../images/pro_img/green.jpg");
}
.size_list{
    overflow:hidden;
    margin:3px 0 10px 0;
}
.size_list li{
    float:left;
    margin-right:10px;
    border:1px solid #ddd;
    width:30px;
    padding:8px 0;
    text-align:center;
    vertical-align: middle;
    font-weight:600;
    cursor:pointer;
}
.num{
    margin-bottom:10px;
}

.num span{
    font-size:14px;
    font-weight:600;
}
.num select{
    width:40px;
}
.sum{
    margin-bottom:10px;
}
.score_list{
    background:url("../images/star-matrix.gif") no-repeat 0 0;
    overflow:hidden;
    margin:2px 0 40px 0;
    cursor:pointer;
}
.score_list li{
    float:left;
    width:16px;
    height:16px;

}

.clickScore_1{
    background:url("../images/star-matrix.gif") no-repeat 0 -16PX;
}

.clickScore_2{
    background:url("../images/star-matrix.gif") no-repeat 0 -32PX;
}
.clickScore_3{
    background:url("../images/star-matrix.gif") no-repeat 0 -48PX;
}
.clickScore_4{
    background:url("../images/star-matrix.gif") no-repeat 0 -64PX;
}
.clickScore_5{
    background:url("../images/star-matrix.gif") no-repeat 0 -80PX;
}
.hoverScore_1{
    background:url("../images/star-matrix.gif") no-repeat 0 -96PX;
}

.hoverScore_2{
    background:url("../images/star-matrix.gif") no-repeat 0 -112PX;
}
.hoverScore_3{
    background:url("../images/star-matrix.gif") no-repeat 0 -128PX;
}
.hoverScore_4{
    background:url("../images/star-matrix.gif") no-repeat 0 -144PX ;
}
.hoverScore_5{
    background:url("../images/star-matrix.gif") no-repeat 0 -160PX;
}

.finish{
    cursor:pointer;
}